---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const slides = (await getCollection('slide')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						slides.map((slide) => (
							<li>
								<a href={`/slide/${slide.slug}/`}>
									<h4 class="title">{slide.data.title}</h4>
									<p class="date">
										<FormattedDate date={slide.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<script>
			declare global {
				interface Window {
					netlifyIdentity: any
				}
			}
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user: any) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
	</body>
</html>
